@charset "utf-8";
/* CSS Document */
.bgimg{
	background-image: url("images/in.jpg");
	background-size: 100% 100%;
	background-position: center;
	height: 100vh
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
body a{
    text-decoration: none;
    color: rgb(254, 252, 253);
}

